@use '@styles/mixins/flexbox';
@use '@styles/constants/colors';
@use '@styles/mixins/font';

.ChatInput-wrapper{
  @include flexbox.flexbox();
  flex-direction: column;
  border: 1px solid black;
  width: 500px;
  height: 100px;
  .reply-container{
    position: relative;
    width: 100%;
    border-bottom: 1px colors.$gray solid;
    padding: 8px;
    h5{
      @include font.font($sz: 14px, $color: colors.$blue-light);
    }
    .reply-content{
      font-size: 14px;
      overflow:hidden;
      text-overflow:ellipsis;
      white-space:nowrap;
      width: 400px;
    }
    .close-button{
      position: absolute;
      right: 10px;
      top: 0;
      cursor: pointer;
    }
  }
  textarea{
    width: 500px;
    height: 100px;
    border: none;
    border-right: black solid 1px;
    border-left: black solid 1px;
    resize: none;
  }
}