.messageBox {
  @include flexbox;
  border-top: 1px solid $border;
  border-bottom: 1px solid $border;
  margin: $BASE_GAP * 2 0;

  &:first-of-type {
    border-top: none;
    margin-top: 0;
  }

  &:last-of-type {
    margin-bottom: 0;
  }

  .messageInner{
    display: flex;
    flex: 4;

    .profileWrapper{
      flex-shrink: 0;
      margin: $BASE_GAP;
    }

    .content{
      width: 100%;
      padding: $BASE_GAP;
      border-right: 1px solid $border;
      word-break: keep-all;
      overflow: hidden;

      .date {
        font-size: 12px;
      }

      .message{
        word-break: break-word;
        background-color: rgba($gray, 0.3);
      }
    }
  }

  .button-wrapper{
    flex: 1;
  }
}