.messageBox {
  @include flexbox();
  border-bottom: 1px solid $border;

  .messageInner{
    display: flex;
    flex: 4;

    .profileWrapper{
      flex-shrink: 0;
      margin: $BASE_GAP;
    }

    .content{
      width: 100%;
      padding: $BASE_GAP;
      border-right: 1px solid $border;
      word-break: keep-all;
      overflow: hidden;

      .date {
        font-size: 12px;
      }

      .message{
        
        background-color: rgba($gray, 0.3);
      }
    }
  }

  .button-wrapper{
    flex: 1;
  }
}