.messageBox {
  @include flexbox();
  border-bottom: 1px solid $border;

  .message{
    display: flex;
    width: 75%;

    .content{
      width: 100%;
      padding: 0 5% 0 2%;
      border-right: 1px solid $border;

      .nameDate{
        margin: 5px 10px;
      }
      .content{
        background-color: $gray;
        margin: 5px 10px;
      }
    }
  }
  
  .button-wrapper{
    width: 25%;
  }
}