
.SubmitButton-wrapper{
  height: 100px;
  width: 100px;
  border: 1px solid black;
  border-left: none;
  cursor: not-allowed;
  background: rgba(gray, 0.3);
  color: $tertiary;
  &.active{
    background: #ffffff;
    color: black;
    cursor: pointer;
  }
}