@use 'sass:map';

$flexmap: (
  start: flex-start,
  end: flex-end,
  around: space-around,
  between: space-between,
  evenly: space-evenly,
  stretch: stretch,
  center: center,
);

@function get-flex-value($key) {
  @return map.get($flexmap, $key);
}

@mixin flexbox($display: flex, $fd: row, $jc: center, $ai: center) {
  display: $display;
  flex-direction: $fd;
  justify-content: get-flex-value($jc);
  align-items: get-flex-value($ai);
}

// NOTE: 사용법: @include flexbox(필요한 인자 $jc: between) 형태로 가져오기
// @NOTE: 아무것도 작성하지 않으면 기본값 적용