
button.message-button {
	border: 1px solid black;
	padding: 10px 15px;

	:hover {
		cursor: pointer;
	}

	&.btnSize75{
		width: 75px;
		height: 50px;
	}

	&.btnSize100{
		width: 100px;
		height: 50px;
	}	
}