
button.message-button {
	width: 100%;
	padding: $BASE_GAP 15px;
	border: 1px solid black;

	:hover {
		cursor: pointer;
	}

	&.btnSize75{
		max-width: 75px;
		max-height: 50px;
	}

	&.btnSize100{
		max-width: 100px;
		max-height: 50px;
	}	
}